body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cd4949;
  /* color: #ffffff; */
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 2px #000000 solid;
  margin: 1rem;
}

.product>img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

main {
  flex: 1;
}

.site-container {
  min-height: 100vh;
}

.rating span {
  color: #ffc000;
  /* color: #ff004c; */
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 150px;
}

.prod-img>.card-img-top {
  height: 400px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

#button-search {
  border: solid 1px #0147ae;
  box-shadow: none;
  border-radius: 0px 3px 3px 0px;
}

#q {
  border-radius: 3px 0px 0px 3px;
  box-shadow: none;
}

.products-row {
  margin-top: -320px;
}

button.thumbnail {
  padding: 0;
}

#deleteImage {
  border-radius: 3px 3px 0px 0px;
  color: rgb(249, 109, 109);
}

.card_body {
  background: #d7feff;
  height: 15rem;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .logo__image {
    margin-top: -27px;
    max-width: 60%;
    width: 60%;
    height: 61px;
    position: absolute;
    left: 17%;
  }
}

@media only screen and (min-width: 600px) {
  .logo__image {
    margin-top: -27px;
    max-width: 56%;
    width: 56%;
    height: 61px;
    position: absolute;
    left: 20%;
  }
}

@media only screen and (min-width: 990px) {
  .logo__image {
    margin-top: -27px;
    max-width: 40%;
    width: 40%;
    height: 61px;
    position: absolute;
    left: 32%;
  }
}

.color__white {
  color: white;
}

.color__red {
  color: red;
}

.color__green {
  color: green;
}

.color__mix_1 {
  color: #99f6bf;
}

.color__mix_2 {
  color: #07ffff
}
 
.table{   
  --bs-table-color: initial;
  --bs-table-bg: transparent;
}